#widgets-container{
    margin-top: 20px;
}

/* User Profile widget */
.user-info{
    background-color: #52B36C;
    color: white;
    font-size:120%;    
    border-radius: 40%;
}
.profile-pic{
    border-radius: 50%;
    height: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.name{
    font-size: larger;
}
.user-info-edit{
    margin-left: auto;
    margin-right: auto; 
   
    display: block;
    color: #52B36C;
    background-color: white;
   
}
/* Product list styles */
.product{
    margin: 2%;
}
.products{   
    width: 100%;
    margin-bottom: 0;
}
.product-container{
    background-color: #52B36C;
    margin-left: 20px;
    padding: 2%;
    
}
.product{
    background-color: white;
    padding: 2%;
    height:75%;
    width: 50%;
}
.product-title{
    color:#52B36C ;
    font-size:120%;
    font-weight: bold;
    margin-bottom: 0;
}
.product-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.rating{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.buttons{
    display: block;
    margin-left: auto;
    margin-top: auto;
    
}
.product-edit{
background-color:#52B36C ;
color: white;
}
.product-container-btn{
color: #52B36C;
background-color: white;
}
.btn > a{
    color: #52B36C;
}
/*Product carousel styles */
.carousel-btn{
    opacity: 1;
}
/*Recent orders widget*/
.recent-orders{
    background-color: #52B36C;
    color: white;
}
.order{
    background-color: white;
}
.order-info{
    color: #52B36C;
}
.view-details-btn{
    background-color: #52B36C;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.view-details-btn>a{
    margin-top: auto;
    color: white;
}
.view-btn{
    display: flex;
    align-items: center;
}