<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Splurket: Software Has no Limits</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="icon" src="/assets/images/Logo.ico">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../assets/css/bd-coming-soon.css">
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Firebase-->
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-firestore.js"></script>
      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.4.11/dist/vuetify.min.css'>

    <link rel="icon" type="image/x-icon" href="../assets/images/Logo.png" />
    <!-- Font Awesome Icons -->
</head>
<style type="text/css">
    .headerdrop {
      position: absolute;
      border-top:solid 2px;
      border-color: white;
      top:98px;
      background-color: #52b36c;
      width:100%;
      color: white;
      display: none;
      z-index:100;
}
    .headerdrop:hover{
        display: block;

    }
    .search-box{
    display: inline;
    border-right: 1px solid var(--secondary);
    padding-right: 12px;
    margin-right: 10px;
}
.dropdown:hover .dropcont {display: block;}
.container{
    padding:0px;
    margin:0px;
}
.subheading{
    cursor: pointer;
    color: #222325;
    line-height: 22px;
    font-weight: 400;
    height: 43px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 12px 5px;
    margin-top: 5px;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-transition: .15s ease-in-out;
    -o-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


</style>

<iframe src="./header" style="border:none;width:100%;" id="iframehead"></iframe>
<div style="position: sticky;top: 0px;z-index: 4;">
<ul class="nav-mobile">      
  <li class="menu-container"> 
    <input id="menu-toggle" type="checkbox" style="display:none">
    <label for="menu-toggle" class="menu-button">   
    </label>      
    <ul class="menu-sidebar" style="overflow:scroll">
      <div id="menu1">
      <li>
        <input type="checkbox" id="sub-one" class="submenu-toggle" onclick="document.getElementById('menu1').style.display='none';document.getElementById('menu2').style.display='none';document.getElementById('menu3').style.display='none';document.getElementById('menu4').style.display='none';document.getElementById('sub1').style.display='block';">        
        <label class="submenu-label" for="sub-one">Home</label>
        <div class="arrow right">&#8250;</div>
        </li>
      </div>
        <div id="sub1" style="display: none">           
        <ul class="menu-sub" style="list-style: none">
          <li class="menu-sub-title" id="back1">
            <div class="arrow left" style="display: inline-block;left:0px;width:100%;" >&#8249;</div> 
            <label class="submenu-label" for="sub-one" >Back</label>             
          </li>
          <h4 style="margin-bottom:5px">Splurket</h4>        
          <li><a href="#">Marketplace</a></li>
          <li><a href="#">Requests</a></li>
          <li><a href="#">Splurket Pay</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Support</a></li>
          <h4 style="margin-bottom:5px">Splurket Creators</h4>        
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Sell A Product</a></li>
          <li><a href="#">Sell Your Talent</a></li>
          <li><a href="#">Resources</a></li>                                 
        </ul>
      </div>
      </li>

      <div id="menu2">
      <li>
        <input type="checkbox" id="sub-two" class="submenu-toggle" onclick="document.getElementById('menu1').style.display='none';document.getElementById('menu2').style.display='none';document.getElementById('menu3').style.display='none';document.getElementById('menu4').style.display='none';document.getElementById('sub2').style.display='block';">        
        <label class="submenu-label" for="sub-two">Marketplace</label>
        <div class="arrow right">&#8250;</div> 
      </li>
    </div>
     <div id="sub2" style="display: none">
        <ul class="menu-sub" style="list-style: none">
          <li class="menu-sub-title" id="back2">
            <div class="arrow left" style="display: inline-block;left:0px;width:100%;" >&#8249;</div> 
            <label class="submenu-label" for="sub-two">Back</label>             
          </li>  
          <h4 style="margin-bottom:5px">Marketplace</h4>    
          <li><a href="#">Explore</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Cart</a></li>     
          <li><a href="#">Checkout</a></li>  
          <h4 style="margin-bottom:5px">Requests And Orders</h4>  
          <li>New Request</li>
          <li>Your Orders And Requests</li>
          <li>Make A Payment</li>
          <li>Get A Quote</li>  
          <h4 style="margin-bottom:5px">Talent</h4>
          <li>Explore Talent</li>
          <li>Hire Talent</li>
          <li>Get A Quote</li>
          <li></li>
          <li></li>                            
        </ul>
        </div>              
      </li>
      <div id="menu3">
       <li>
        <input type="checkbox" id="sub-three" class="submenu-toggle" onclick="document.getElementById('menu1').style.display='none';document.getElementById('menu2').style.display='none';document.getElementById('menu3').style.display='none';document.getElementById('menu4').style.display='none';document.getElementById('sub3').style.display='block';">        
        <label class="submenu-label" for="sub-three">Messages</label>
        <div class="arrow right">&#8250;</div>
        </li>
        </div> 
         <div id="sub3" style="display: none">
        <ul class="menu-sub" style="list-style: none">
          <li class="menu-sub-title" id="back3">
            <div class="arrow left" style="display: inline-block;left:0px;width:100%;" >&#8249;</div> 
            <label class="submenu-label" for="sub-three">Back</label>             
          </li>      
          <li>New Message</li>
          <li>All Messages</li>
          <li>Recipients</li>                               
        </ul> 
        </div>             
      </li> 
      <div id="menu4">   
      <li>
        <input type="checkbox" id="sub-four" class="submenu-toggle" onclick="document.getElementById('menu1').style.display='none';document.getElementById('menu2').style.display='none';document.getElementById('menu3').style.display='none';document.getElementById('menu4').style.display='none';document.getElementById('sub4').style.display='block';">        
        <label class="submenu-label" for="sub-four">Support</label>
        <div class="arrow right">&#8250;</div> 
      </li>
    </div>
     <div id="sub4" style="display: none">
        <ul class="menu-sub" style="list-style: none">
          <li class="menu-sub-title" id="back4">
            <label class="submenu-label" for="sub-four">Back</label>     
            <div class="arrow left" style="display: inline-block;left:0px;width:100%;">&#8249;</div>       
          </li>      
            <h4>About</h4>
                <li>Overview</li>
                <li>What Is Splurket</li>
                <li>What Sets Us Apart</li>
                <li>Privacy Policy</li>
            <h4 >FAQ</h4>
                <li>How Do I Get Started</li>
                <li>How Do I Pay For An Order/Complete Job</li>
                <li>How Can I Become a Seller/Creator</li>
                <li>What Happens When I Get A Quote?</li>
                <li>More</li>
            <h4 >Blog</h4>
                <li>Latest</li>
                <li>All Posts</li>
                <li>Getting Started Guides</li>
            <h4 >Community</h4>
                <li>Discord</li>
                <li>Events</li>
                <li>Referrals</li>
                <li></li>
                <li></li>                               
        </ul>    
        </div>          
      </li>                                     
    </ul> 
  </li>
</ul>
</div>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script><script  src="./script.js"></script>
  <script>
    document.getElementById("back1").addEventListener('click', myFunction1)

function myFunction1(){
    document.getElementById('menu1').style.display='block';
    document.getElementById('menu2').style.display='block';
    document.getElementById('menu3').style.display='block';
    document.getElementById('menu4').style.display='block';
    document.getElementById('sub1').style.display='none';
}

    document.getElementById("back2").addEventListener('click', myFunction2)

function myFunction2(){
    document.getElementById('menu1').style.display='block';
    document.getElementById('menu2').style.display='block';
    document.getElementById('menu3').style.display='block';
    document.getElementById('menu4').style.display='block';
    document.getElementById('sub2').style.display='none';
}

    document.getElementById("back3").addEventListener('click', myFunction3)

function myFunction3(){
    document.getElementById('menu1').style.display='block';
    document.getElementById('menu2').style.display='block';
    document.getElementById('menu3').style.display='block';
    document.getElementById('menu4').style.display='block';
    document.getElementById('sub3').style.display='none';
}

    document.getElementById("back4").addEventListener('click', myFunction4)

function myFunction4(){
    document.getElementById('menu1').style.display='block';
    document.getElementById('menu2').style.display='block';
    document.getElementById('menu3').style.display='block';
    document.getElementById('menu4').style.display='block';
    document.getElementById('sub4').style.display='none';
}
function tablistlube(){
    var ele1 = document.querySelectorAll('[role="tablist"]');
    ele1[0].style.display="block" //Remove active class for first element
    document.getElementById('tablist-open').style.display="none"
    document.getElementById('tablist-close').style.display="block"
}
function tablistclose(){
    var ele1 = document.querySelectorAll('[role="tablist"]');
    ele1[0].style.display="none" //Remove active class for first element
    document.getElementById('tablist-open').style.display="block"
    document.getElementById('tablist-close').style.display="none"
}
</script>

<div class="dropdown-content" id="dropcont" style="color:white; min-width:240px;border-top: solid 2px;border-color: white;z-index: 100;" onmouseout="this.style.display = 'none'" onmouseover="this.style.display = 'block'">
    <div><br>
        <p style="display:inline-block"; id="avatarusername1" onclick="profilego()">Signed In As:</p>
    </div>
<hr><br>
    <p onclick="profilego()">Your Profile</p>
    <p>Splurket Pay</p>
    <p>Splurket Creators</p>
    <p>Your Payment History</p>
    <p>Your Job Request History</p>
    <br><hr><br>
    <div>
    <center><p onclick="signout()">Sign Out</p></center>
  </div>
</div>
<!--Home Dropdown-->
    <div class="headerdrop" hidden="hidden" id="homeheaderdrop"onmouseover="this.style.display = 'block'" onmouseout="this.style.display = 'none'"> 
        <div class="fcolumn" style="margin-left:100px"> 
            <h2 style="font-size:20px;">Splurket</h2><br><hr><br>
                <p>Profile</p>
                <p>Marketplace</p>
                <p>Splurket Pay</p>
                <p>Splurket Creators</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">Splurket Creators</h2><br><hr><br>
                <p>Become A Creator</p>
                <p>Add A Product</p>
                <p>Share Your Talent</p>
                <p>Fulfill Customer Orders</p>
        </div>

    </div>
    <!--marketplace Dropdown-->
    <div class="headerdrop" hidden="hidden" id="marketplaceheaderdrop" onmouseover="this.style.display = 'block'" onmouseout="this.style.display = 'none'">   
        <div class="fcolumn" style="margin-left:100px"> 
            <h2 style="font-size:20px;">Marketplace</h2><br><hr><br>
                <p>Explore</p>
                <p>Categories</p>
                <p>Cart</p>
                <p>Checkout</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">Orders and Job Requests</h2><br><hr><br>
                <p>New Job Request</p>
                <p>Your Orders And Job Requests</p>
                <p>Job Payment Completion</p>
                <p>Get A Quote</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">Talent</h2><br><hr><br>
                <p>Explore Talent</p>
                <p>Hire Talent</p>
                <p>Get A Quote</p>
        </div>
    </div>
    <!--Messages Dropdown-->
    <div class="headerdrop" hidden="hidden" id="messageheaderdrop" onmouseover="this.style.display = 'block'" onmouseout="this.style.display = 'none'">
        <div class="fcolumn" style="margin-left:100px">
            <h2 style="font-size:20px;">Messages</h2><br><hr><br>
                    <p>New Message</p>
                    <p>All Messages</p>
                    <p>Recipients</p>
        </div>
        <div class="fcolumn" style="margin-left:100px">

        </div>
        <div class="fcolumn" style="margin-left:100px">
            <center><h3 style="background-color: red;padding:10px;">For Added Safety and Your Protection, Keep Payments and Communications Within Splurket.</h3></center>
        </div>
    </div>

    <!--Support Dropdown-->
    <div class="headerdrop" hidden="hidden" id="supportheaderdrop" onmouseover="this.style.display = 'block'" onmouseout="this.style.display = 'none'">
        <div class="fcolumn" style="margin-left:100px"> 
            <h2 style="font-size:20px;">About</h2><br><hr><br>
                <p>Overview</p>
                <p>What Is Splurket</p>
                <p>What Sets Us Apart</p>
                <p>Privacy Policy</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">FAQ</h2><br><hr><br>
                <p>How Do I Get Started</p>
                <p>How Do I Pay For An Order/Complete Job</p>
                <p>How Can I Become a Seller/Creator</p>
                <p>What Happens When I Get A Quote?</p>
                <p>More</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">Blog</h2><br><hr><br>
                <p>Latest</p>
                <p>All Posts</p>
                <p>Getting Started Guides</p>
        </div>
        <div class="fcolumn"> 
            <h2 style="font-size:20px;left:100px;">Community</h2><br><hr><br>
                <p>Discord</p>
                <p>Events</p>
                <p>Referrals</p>
        </div>
        </div>
    <script>
        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
        var name, email, photoUrl, uid, emailVerified;

        var config = {
            apiKey: "AIzaSyC-BUGGSsvUX8z4W1LcsJzS59yrL4__EsE",
            authDomain: "splurket-66df1.firebaseapp.com",
            databaseURL: "https://splurket-66df1-default-rtdb.firebaseio.com",
            projectId: "splurket-66df1",
            storageBucket: "splurket-66df1.appspot.com",
            messagingSenderId: "286706779903",
            appId: "1:286706779903:web:fd91c29319f9804e192eca",
            measurementId: "G-QWQ2M658KL"
          };
        firebase.initializeApp(config);
        const db = firebase.firestore();
        db.settings({ timestampsInSnapshots: true }); 
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            // User is signed in.
            var user = firebase.auth().currentUser;
            //splurket@gmail.com
            var email1 = user.email;
            
            /*var email = getParameterByName('user'); 
            console.log(email)*/
            //still splurket
            
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");
            myHeaders.append("Accept", "application/json, /;q=0.5");

            var raw = JSON.stringify({
              "stringtoencrypt": `${email1}`
            });
            //document.write(raw)
            var requestOptions = {
              method: 'POST',
              headers: myHeaders,
              body: raw,
              redirect: 'follow'
            };

            fetch("https://americanrivergold.com/fluffybunnyin", requestOptions)
              .then(function (response) {
                  return response.json();
              })
              .then(function (data) {
                //should be a base64 string by now
                getuserdata(data);
            });
          } else {
            console.log('fuck')
            document.getElementById("avatar").style.display = "none";
            document.getElementById("login").style.display = "block";
            document.getElementById('cartbutton').style.top='20px';
            var all = document.getElementsByClassName('headerdrop');
            for (var i = 0; i < all.length; i++) {
              all[i].style.top = '83px';
            }
          }
        });
        function getuserdata(data) {
            email = data.encryptedstring;
                var docRef = db.collection("users").doc(email);
                docRef.get().then((doc) => {
                    if (doc.exists) {
                        data1 = doc.data()
                        pro_pic = data1.pro_pic;
                        if (data1.username == "" ){
                            user_name = data1.email
                        }
                        if (data1.username != "") {
                            user_name = data1.username;
                        }
                        document.getElementById("avatarpic").src = pro_pic;
                        //document.getElementById("avatarpic1").src = pro_pic;
                        document.getElementById("avatarusername1").innerText = "Signed In As: " + user_name;
                        document.getElementById("avatar").style.display = "block";
                        document.getElementById("avatarpic").style.display = "inline-block";
                        var all = document.getElementsByClassName('headerdrop');
                        for (var i = 0; i < all.length; i++) {
                          all[i].style.top = '98px';
                        }
                    } else {
                        // doc.data() will be undefined in this case
                        console.log("No such document!");
                        console.log(doc.data())
                    }
                }).catch((error) => {
                    console.log("Error getting document:", error);
                });
        }
        function profilego() {
            var localstuff1 = localStorage.getItem('usercreds');
            var localstuff = JSON.parse(localstuff1)
            var loginemail = btoa(localstuff.email);
            var loginpassword = btoa(localstuff.password);
            location.href = "https://myaccount.splurket.com/login?bunnyluck="+loginemail+"&rabbitfoot="+loginpassword

        }
        function signout() {
            firebase.auth().signOut().then(() => {
                localStorage.removeItem('usercreds');
                var all = document.getElementsByClassName('headerdrop');
                for (var i = 0; i < all.length; i++) {
                  all[i].style.top = '83px';
                }
            }).catch((error) => {
              // An error happened.
            });
        }
        function fixDiv() {
            var $div = $("#navwrap");
            if ($(window).scrollTop() > $div.data("top")) { 
                $div.css({'position': 'fixed', 'top': '0', 'width': '100%'}); 
            }
            else {
                $div.css({'position': 'static', 'top': 'auto', 'width': '100%'});
            }
        }
    </script>


    
    <!-- Header ENDS HERE!!!!.. -->
<body  onload="document.getElementById('navwrap').style.display='none';"><br>
<style type="text/css">
  v-card-title{
    display:block;
  }
</style><!-- partial:index.partial -->


<div id="app" style="width:100%">
  <v-app id="inspire">
    <v-container fluid style="min-height:100%">
        <strong><v-btn
            class="vuebtn"
        id="opensearchbtn"
        style="background-color:#52b36c;color:white;position:fixed;right:15px;bottom:30px;display:block;z-index:6" onclick="document.getElementById('navwrap').style.display='block';document.getElementById('closesearchbtn').style.display='block';this.style.display='none'">
            Search And Filters
        </v-btn></strong>
      <strong><v-btn
        class="vuebtn"
        id="closesearchbtn"
        style="background-color:#52b36c;color:white;position:fixed;right:15px;bottom:30px;display:none;z-index:6" onclick="document.getElementById('navwrap').style.display='none';document.getElementById('opensearchbtn').style.display='block';this.style.display='none'">
        Close Search And Filters
      </v-btn></strong>
      <v-data-iterator
        :items="items"
        :items-per-page.sync="itemsPerPage"
        :page.sync="page"
        :search="search"
        :sort-by="sortBy.toLowerCase()"
        :sort-desc="sortDesc"
        hide-default-footer
        disable-pagination
        dense
      >
        <template v-slot:header>
          <v-toolbar
            dark
            color="blue darken-3"
            class="mb-1"
            id="navwrap"
            style="height: 64px;background-color: rgb(82, 179, 108) !important;width: 330px;position: sticky;top: 0px;z-index: 4;"
          >
          <div style="width: 330px;position: absolute;height: 100vh;background-color: rgb(82, 179, 108);top: 20;left: 0px;">
            <center><v-text-field
              v-model="search"
              clearable
              flat
              solo-inverted
              hide-details
              prepend-inner-icon="mdi-magnify"
              label="Search"
              style="width:320px"
            ></v-text-field></center>
            <template v-if="$vuetify.breakpoint.mdAndUp">
              <v-spacer></v-spacer>
                <strong><v-btn
                    style="background-color:white;color:#52b36c;position:absolute;left:15px;top:80px">
                    Categories And Subcategories
                </v-btn></strong>
              <v-spacer></v-spacer>
              <strong><v-btn
                style="background-color:white;color:#52b36c;position:absolute;left:15px;top:150px">
                Filters And Settings
              </v-btn></strong>
              </v-btn-toggle>
            </template>
        </div>
          </v-toolbar>
        </template>
  
        <template v-slot:default="props">
          <v-row style="margin-top:50px;position:relative;width:90%;margin-right: 5%;margin-left: 5%;">
            <v-col
              v-for="item in props.items"
              :key="item.name"
              cols="12"
              sm="6"
              md="4"
              lg="3"
            >
              <v-card :id="item.id" :data-cat="item.category" :data-subcat="item.subcategory">
                <v-img
                  height="250"
                  :src="item.image"
                  :id="item.id" :data-cat="item.category" :data-subcat="item.subcategory" onclick="window.top.location.href='./product?product='+this.id+'&cat='+this.dataset.cat+'&subcat='+this.dataset.subcat"
                ></v-img>
                <div>
                  <img :src="item.creatorpic" height="30px" width="30px" style="border-radius: 50%;margin-top:10px;margin-left: 10px":id="item.creator" onclick="window.top.location.href='./creator?creator='+this.id"></img></a>
                    <p style="display: inline-block;margin: 0px;top:265px;left:50px;position: absolute;" class="cardtit" :id="item.creator" onclick="window.top.location.href='./user?user='+this.id">{{ item.creator }}
                </p>
              </div>
                <v-card-title class="subheading font-weight-bold" :id="item.id" :data-cat="item.category" :data-subcat="item.subcategory" onclick="window.top.location.href='./product?product='+this.id+'&cat='+this.dataset.cat+'&subcat='+this.dataset.subcat">
                  {{ item.name }}
                </v-card-title>
                <v-card-text style="color:#878787;font-size:15px;padding-left: 16px;padding-top: 0px;" class="e546783wyte">{{ item.desc }}</v-card-text>
                <v-card-text style="color:#52b36c;font-size:25px;padding-left: 16px;padding-top: 0px;position:relative;padding-bottom:0px;padding-top:15px">
                  ★<span style="color:#52b36c;font-size:20px;top:0px">{{ item.reviewsn }}</span>
                 </v-card-text></v-list>
  
                <v-list dense>
                  <!--<v-list-item
                    v-for="(key, index) in filteredKeys"
                    :key="index"
                  >
                    <v-list-item-content :class="{ 'blue--text': sortBy === key }">
                      {{ key }}:
                    </v-list-item-content>
                    <v-list-item-content
                      class="align-end"
                      :class="{ 'blue--text': sortBy === key }"
                    >
                      {{ item[key.toLowerCase()] }}
                    </v-list-item-content>
                  </v-list-item>-->

                <v-divider></v-divider>
                    <div style="padding-left: 11px;padding-top: 0px;position:absolute;bottom:5px;">
                        <v-btn
                          icon
                          color="pink"
                        >
                          <v-icon dark>
                            mdi-heart
                          </v-icon>
                        </v-btn>
                    </div>
                <div style="height:40px"></div>
                <p style="right:20px;display:block;bottom:-5px;position: absolute;font-size:20px">{{ item.price }}</span></p>
              </v-card>
            </v-col>
          </v-row>
        </template>
  
       <!-- <template v-slot:footer>
          <v-row
            class="mt-2"
            align="center"
            justify="center"
          >
            <span class="grey--text">Items per page</span>
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  dark
                  text
                  color="primary"
                  class="ml-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  {{ itemsPerPage }}
                  <v-icon>mdi-chevron-down</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item
                  v-for="(number, index) in itemsPerPageArray"
                  :key="index"
                  @click="updateItemsPerPage(number)"
                >
                  <v-list-item-title>{{ number }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
  
            <v-spacer></v-spacer>
  
            <span
              class="mr-4
              grey--text"
            >
              Page {{ page }} of {{ numberOfPages }}
            </span>
            <v-btn
              fab
              dark
              color="blue darken-3"
              class="mr-1"
              @click="formerPage"
            >
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <v-btn
              fab
              dark
              color="blue darken-3"
              class="ml-1"
              @click="nextPage"
            >
              <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
          </v-row>
        </template>-->
      </v-data-iterator>
    </v-container>
  </v-app>
</div>

<!-- partial -->
  <script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@2.4.11/dist/vuetify.min.js'></script><script  src="./script.js"></script>

</body>
</html>

</body>
</html>

