<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@1.5.14/dist/vuetify.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'><link rel="stylesheet" href="./vuestyle.css">
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-firestore.js"></script>
</head>
<style>
  .v-toolbar__content{
    background-color: #52b36c;
  }
</style>
<body>
<!-- partial:index.partial.html -->
<div id="app">
    <v-app id="inspire">
      <v-toolbar dark color="primary" fixed>
        <v-toolbar-title class="white--text">Products</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
        <v-menu offset-y :nudge-left="170" :close-on-content-click="false">
            <v-btn icon slot="activator">
                <v-icon>more_vert</v-icon>
              </v-btn>
            <v-list>
              <v-list-tile  v-for="(item, index) in headers"  :key="item.value"   @click="changeSort(item.value)">
                <v-list-tile-title>{{ item.text }}<v-icon v-if="pagination.sortBy === item.value">{{pagination.descending ? 'arrow_downward':'arrow_upward'}}</v-icon></v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
      </v-toolbar>
          <v-layout v-resize="onResize" column style="padding-top:56px">
            <v-data-table :headers="headers" :items="products" :search="search" :pagination.sync="pagination" :hide-headers="isMobile" :class="{mobile: isMobile}">
              <template slot="item" slot-scope="props">
                <tr v-if="!isMobile">
                  <td>{{ props.item.name }}</td>
                  <td class="text-xs-left">{{ props.item.Price }}</td>
                  <td class="text-xs-left">{{ props.item.Date_Added }}</td>
                  <td class="text-xs-left">{{ props.item.reviews }}</td>
                  <td class="text-xs-left">{{ props.item.purchases }}</td>
                  <td class="text-xs-left">{{ props.item.status }}</td>
                  <td class="text-xs-left">{{ props.item.options }}</td>
                  <td>
                    <v-btn class="mx-2" fab dark small color="pink" @click="onButtonClick(row.item)">
                        <v-icon dark>mdi-heart</v-icon>
                    </v-btn>
                  </td>
                </tr>
                <tr v-else>
                  <td>
                    <ul class="flex-content">
                      <li class="flex-item" data-label="Name">{{ props.item.name }}</li>
                      <li class="flex-item" data-label="Price">{{ props.item.Price }}</li>
                      <li class="flex-item" data-label="Date_Added">{{ props.item.Date_Added }}</li>
                      <li class="flex-item" data-label="Reviews">{{ props.item.reviews }}</li>
                      <li class="flex-item" data-label="Purchases">{{ props.item.purchases }}</li>
                      <li class="flex-item" data-label="Status">{{ props.item.status }}</li>
                      <li class="flex-item" data-label="Status">{{ props.item.options }}</li>

                    </ul>
                  </td>
                </tr>
              </template>
              <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Your search "{{ search }}" found no results.
              </v-alert>
              <template v-slot:item.options="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  @click="editItem(item)"
                >
                  mdi-pencil
                </v-icon>
                <v-icon
                  small
                  @click="deleteItem(item)"
                >
                  mdi-delete
                </v-icon>
              </template>
              <template v-slot:no-data>
                <v-btn
                  color="primary"
                  @click="initialize"
                >
                  Reset
                </v-btn>
              </template>
            </v-data-table>
          </v-layout>
    </v-app>
  </div>
<!-- partial -->

<script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@2.4.11/dist/vuetify.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@1.5.14/dist/vuetify.min.js'></script><script  src="./vuescript.js"></script>

</body>
</html>
