<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Vuetify Example Pen</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.4.11/dist/vuetify.min.css'>
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase-firestore.js"></script>

</head>
<body>
  <style>
  .v-toolbar__content{
  background-color: #52b36c;
  }
  .v-toolbar__content {
    padding: 0px;
  }
  #search{
    width:20px;
  }
  .v-toolbar__content .v-toolbar__title .white--text {
    padding-left:500px;
  }
  .v-menu .v-menu--inline{
    padding-right:50px; 
  }
  .button {
    background-color: #52b36c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
</style>
<!-- partial:index.partial.html -->
<div id="app">
  <v-app id="inspire">
    <v-data-table :headers="headers" :items="products" :search="search" :pagination.sync="pagination" :hide-default-header="isMobile" :class="{mobile: isMobile}">
      <template v-slot:top>
        <v-toolbar dark color="primary" fixed>
        <v-toolbar-title class="white--text" style="padding-left: 50px">My Products</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details style="width:20px;padding-right: 50px"></v-text-field>
      </v-toolbar>
          <v-dialog
            v-model="dialog"
            max-width="500px"
          >
            <template v-slot:activator="{ on, attrs }">
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>
  
              <v-card-text>
                <v-container>
                  <center><v-row>
                     <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <button class="button needid" style="background-color:#52b36c" onclick="updateprod()">
                        Update Product
                      </button>
                    </v-col><br>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <button class="button needid" style="background-color:#52b36c" onclick="deleteprod()">
                        Delete Product
                      </button>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                    <button class="button needid" style="background-color:#52b36c" onclick="unpublishprod()">
                        Unpublish Product
                    </button>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                    <button class="button needid" style="background-color:#52b36c" onclick="discount()">
                        Create Discount
                    </button>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                    <button class="button" style="background-color:#52b36c" class="needid" onclick="coupon()">
                        Create Coupon
                    </button>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                    <button class="button" style="background-color:#52b36c" class="needid" onclick="clearanal()">
                        Clear Product Analytics
                    </button>
                  </v-col>
                </v-row>
                </v-container>
              </v-card-text>
  
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="close"
                >
                  Cancel
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.options="{ item }">
        <v-icon style="padding-left:15px;"
          small
          class="mr-2"
          @click="editItem(item)"
        >
          mdi-dots-horizontal
        </v-icon>
      </template>
      <template v-slot:no-data>
        <h1>No Data</h1>
      </template>
      <template slot="items" slot-scope="props">
                <tr v-if="!isMobile">
                  <td>{{ props.item.name }}</td>
                  <td class="text-xs-right">{{ props.item.calories }}</td>
                  <td class="text-xs-right">{{ props.item.fat }}</td>
                  <td class="text-xs-right">{{ props.item.carbs }}</td>
                  <td class="text-xs-right">{{ props.item.protein }}</td>
                  <td class="text-xs-right">{{ props.item.iron }}</td>
                </tr>
                <tr v-else>
                  <td>
                    <ul class="flex-content">
                      <li class="flex-item" data-label="Name">{{ props.item.name }}</li>
                      <li class="flex-item" data-label="Calories">{{ props.item.calories }}</li>
                      <li class="flex-item" data-label="Fat (g)">{{ props.item.fat }}</li>
                      <li class="flex-item" data-label="Carbs (g)">{{ props.item.carbs }}</li>
                      <li class="flex-item" data-label="Protein (g)">{{ props.item.protein }}</li>
                      <li class="flex-item" data-label="Iron (%)">{{ props.item.iron }}</li>
                    </ul>
                  </td>
                </tr>
              </template>
              <v-alert slot="no-results" :value="true" color="error" icon="warning" style="color:white">
                Your search "{{ search }}" found no results.
              </v-alert>
    </v-data-table>
  </v-app>
</div>
<!-- partial -->
  <script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@2.4.11/dist/vuetify.min.js'></script><script  src="./vuescript.js"></script>

</body>
</html>
